*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:root{
  --purple-pink: linear-gradient(rgb(206, 145, 226), rgb(64, 74, 186));
  --pink: linear-gradient(45deg,rgb(237, 106, 128), rgb(255, 255, 255), rgb(237, 106, 128));
  --deep-circle: radial-gradient(circle farthest-corner, hsl(180, 100%, 50%), transparent 50%),
    radial-gradient(hsl(180, 60%, 25%));
  --transparency: linear-gradient(180deg, rgba(128, 0, 128, 0.842), transparent 70%), linear-gradient(360deg,rgba(76, 0, 130, 0.879), transparent 70%);
  --mint-bloom: radial-gradient(circle farthest-corner, hsl(195, 100%, 79%), hsla(120, 95%, 75%, 0.919), hsla(195, 100%, 79%, 0.925));
  --repeating-strikes: repeating-linear-gradient(225deg, rgb(220, 20, 60),rgb(220, 20, 60) 20px, coral 40px) ;
}

.main-container{
  display:flex;
}

.nav-container{
  font-family: sans-serif;
  background-color: whitesmoke;
  position: fixed;
  width: 20.1vw;
  height: 100vh;
  padding: 10px;
  border-right: 2px solid #888;
  display: flex;
  flex-direction: column;
}

#heading {
  font-weight: 300;
  text-align: center;
  box-shadow: none;
}

.link{
  font-weight: 300;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 0px 4px 2px rgba(123, 103, 22, 0.246);
}

.gradient-container{
  margin-left: 260px;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.section {
  display: none;
}

.section:target{
  width: 100%;
  height: 100%;
  display: block;
}

#gred-1:target{
  background-image: var(--purple-pink);
}

#gred-2:target{
  background-image: var(--pink);
}

#gred-3:target{
  background-image: var(--deep-circle);
}

#gred-4:target{
  background-image: var(--transparency);
}

#gred-5:target{
  background-image: var(--mint-bloom);
}

#gred-6:target{
  background-image: var(--repeating-strikes);
}